<body style="background: rgb(60,145,255);
background: linear-gradient(90deg, rgba(60,145,255,1) 0%, rgba(82,82,200,1) 47%, rgba(255,155,155,1) 100%);">
<section class="section">
  <div class="container-sm">
    <form class="w-50 mx-auto bg-light rounded-3">
      <div class="my-4 pt-4">
        <h2 class="text-center">Login</h2>
        <hr>
      </div>
      <div class="px-4 pb-3">
        <input type="text" class="form-control border-bottom" placeholder="Username">
      </div>
      <div class="px-4 py-3">
        <input type="password" class="form-control border-bottom" placeholder="Password">
      </div>
      <div class="px-4 py-3">
        <a href="#" class="text text-black-50 text-decoration-none">Forget Password</a>
      </div>
      <div class="d-grid gap2 px-4 py-3 ">
        <button class="btn btn-primary rounded-5">Login</button>
      </div>
      <div class="d-flex justify-content-center px-4 py-3">
        <span class="pe-2">Not a member? </span>
        <a href="#">Signup</a>
      </div>
    </form>
  </div>
</section>

</body>
