
<body>
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-4">
        <img alt="logo" src="assets/images/bifood.png" height="43px">
      </a>

      <ul id="testid" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li style="--i:#9055ff;--j:#ed7b84;">
          <span class="icon"></span><svg class="bi" width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#house"/></svg>
          <a routerLink="" class="title">Trang chủ</a>
        </li>
        <li style="--i:#30be96;--j:#402565;">
          <span class="icon"></span><svg class="bi " width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#bag-dash-fill"/></svg>
          <a routerLink="products" class="title">Sản Phẩm</a>
        </li>
        <li style="--i:#ffcac9;--j:#727dfe;">
          <span class="icon"></span><svg class="bi " width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#newspaper"/></svg>
          <a routerLink="news" class="title">Tin tức</a>
        </li>
        <li style="--i:#b2ffda;--j:#2f80ed;">
          <span class="icon"></span><svg class="bi " width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#lightbulb"/></svg>
          <a routerLink="tips" class="title">Mẹo vặt</a>
        </li>
        <li style="--i:#ffa9c6;--j:#f434e2;">
          <span class="icon"></span><svg class="bi " width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#telephone"/></svg>
          <a routerLink="contacts" class="title">Liên hệ</a>
        </li>
      </ul>

      <form id="searchid" class="mb-3 mb-lg-0 me-lg-3 " role="search">
        <input type="search" class="title form-control" placeholder="Tìm kiếm..." aria-label="Search">
      </form>
      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block ms-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul id="menuuser" class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li>
            <a class="dropdown-item rounded-3 d-flex gap-2 align-items-center" routerLink="ui">
              <svg class="bi" width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#person-lines-fill"/></svg>
              Thông tin khách hàng
            </a>
          </li>
          <li>
            <a class="dropdown-item rounded-3 d-flex gap-2 align-items-center" href="#">
              <svg class="bi" width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#truck"/></svg>
              Trạng thái ship hàng
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item rounded-3 d-flex gap-2 align-items-center" routerLink="signin">
              <svg class="bi" width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#box-arrow-left"/></svg>
              Đăng xuất
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>

<div class="container-sm mb-4">
  <form class="w-50 mx-auto bg-light rounded-3">

    <div class="my-4 pt-4">
      <h2 class="text-center">Thông tin người dùng</h2>
      <hr>
    </div>
    <div class="px-4 pb-3">
      <span class="ms-1">Họ và tên đệm</span>
      <input type="text" class="form-control border-bottom" placeholder="Họ và tên đệm">
    </div>
    <div class="px-4 pb-3">
      <span class="ms-1">Họ và tên đệm</span>
      <input type="text" class="form-control border-bottom" placeholder="Tên">
    </div>
    <div class="d-flex px-4 pb-3">
      <input type="text" class="form-control border-bottom" placeholder="Sinh nhật" disabled>
      <input type="date" class="form-control border-bottom">
    </div>
    <div class="px-4 pb-3">
      <span class="ms-1">Email</span>
      <input type="text" class="form-control border-bottom" placeholder="Email">
    </div>
    <div class="px-4 pb-3">
      <span class="ms-1">Số điện thoại</span>
      <input type="text" class="form-control border-bottom" placeholder="Số điên thoại">
    </div>
    <div class="d-grid gap2 px-4 py-3 ">
      <button class="btn btn-primary rounded-5">Lưu thay đổi</button>
    </div>
  </form>
</div>


<footer class="text-center text-lg-start text-muted">
  <div class="container-sm d-flex justify-content-center justify-content-lg-between pt-4">
    <div class="d-none d-lg-block d-md-block me-5 fs-4">

    </div>

    <div class="">
      <a href="https://fb.me/ibakop2001" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="/libs/bootstrap-icons-1.9.0/bootstrap-icons.svg#person-lines-fill"/></svg>BiFood Corp.
          </h6>
          <p class="footerTextSmol">
            BiFood Corp. là 1 startup do học viên của Fpt Academy International lập nên, hướng tới sự sáng tạo trong thế kỉ mới.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Tài khoản
          </h6>
          <p>
            <a href="ui" class="text-reset text-decoration-none">Thông tin cá nhân</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Tích điểm</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Giỏ Hàng</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Hỗ trợ
          </h6>
          <p>
            <a routerLink="terms" class="text-reset text-decoration-none">Điều khoản và quy định</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Chính sách người dùng</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Hình thức thanh toán</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Ton That Thuyet St, Hanoi, VN</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@fpt.edu.vn
          </p>
          <p><i class="fas fa-phone me-3"></i> + 84 912 FPT EDU</p>
          <p><i class="fas fa-print me-3"></i> + 84 FAX FPT EDU</p>
        </div>
      </div>
    </div>
  </section>



  <div class="text-center p-3" style="background-color: rgba(255,255,255,0.6);">
    von mir aus © 2022,
    <a class="text-reset fw-bold text-decoration-none" href="https://fb.me/ibakop2001">alles Liebe und Gute für Dich</a>
  </div>
</footer>
</body>
