<section class="section">
  <ul id="testid" class="" style="position: fixed;">
    <li style="--i:#9055ff;--j:#ed7b84;">
      <span class="icon"></span><svg class="bi" width="16" height="16"><use xlink:href="assets/bootstrap-icons-1.9.0/bootstrap-icons.svg#chevron-left"/></svg>
      <a routerLink="signin" class="title">Đăng nhập</a>
    </li>
  </ul>
  <div class="container-sm">
    <form class="w-50 mx-auto bg-light rounded-3">
      <div class="my-4 pt-4">
        <h2 class="text-center">Quên mật khẩu</h2>
        <hr>
      </div>
      <div class="px-4 pb-3">
        <input type="text" class="form-control border-bottom" placeholder="Nhập Email đã dùng để đăng kí">
      </div>
      <div class="d-flex px-4 pb-3">
        <input type="password" class="form-control border-bottom" placeholder="Nhập mã OTP"><button class="btn col-3" >Lấy OTP</button>
      </div>
      <div class="d-grid gap2 px-4 pb-3 ">
        <button class="btn btn-primary rounded-5">Lấy lại mật khẩu</button>
      </div>
      <div class="d-flex justify-content-center px-4 py-3">
        <span class="pe-2">Bạn đã quên thông tin đăng nhập? </span>
        <a routerLink="signup">Liên hệ bộ phận hỗ trợ</a>
      </div>
    </form>
  </div>
</section>

