<body style="background: rgb(60,145,255);
background: linear-gradient(90deg, rgba(60,145,255,1) 0%, rgba(82,82,200,1) 47%, rgba(255,155,155,1) 100%);">
<section class="section">
  <div class="container-sm">
    <form class="w-50 mx-auto bg-light rounded-3">
      <div class="my-4 pt-4">
        <h2 class="text-center">Signup</h2>
        <hr>
      </div>
      <div class="px-4 pb-3">
        <input type="text" class="form-control border-bottom" placeholder="First Name">
      </div>
      <div class="px-4 pb-3">
        <input type="text" class="form-control border-bottom" placeholder="Last Name">
      </div>
      <div class="px-4 pb-3">
        <input type="text" class="form-control border-bottom" placeholder="Email">
      </div>
      <div class="px-4 pb-3">
        <input type="text" class="form-control border-bottom" placeholder="Username">
      </div>
      <div class="px-4 pb-3">
        <input type="password" class="form-control border-bottom" placeholder="Password">
      </div>
      <div class="px-4 pb-3">
        <input type="password" class="form-control border-bottom" placeholder="Repeat your Password">
      </div>
      <div class="px-4 pb-3">
        <input type="checkbox" class="me-1"><span>I Argree with all the terms</span>
      </div>
      <div class="px-4 py-1">
        <input type="checkbox" class="me-1"><span>I would like you recive the notifications of blab blab blab via Email</span>
      </div>

      <div class="d-grid gap2 px-4 py-3 ">
        <button class="btn btn-primary rounded-5">Register new user</button>
      </div>
    </form>
  </div>
</section>

</body>
