<h2 style="color:  darkblue">{{data.studentName}}</h2>
<h3 style="color: darkorchid">{{data.studentAge}}</h3>
<p style="color: crimson">{{data.phoneNumber}}</p>
<button type="button" (click)="give1unit()">Give 1 unit from {{data.studentName}}</button>
<button type="button" (click)="take1unit()">Take 1 unit from {{data.studentName}}</button>
<input type="number" [(ngModel)]="inputAge" placeholder="Put a number here"/>

<button type="button" (click)="inputAge()">Set Age of {{data.studentName}} to {{inputAge}} </button>
