<main class="d-flex flex-nowrap">
  <div class="flex-shrink-0 bg-white" style="width: 280px;">

    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          <i class="fa-solid fa-angle-down me-1"></i>Favorites
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav  pb-1">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Inbox</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none text-white bg-primary">Sent Items</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          <i class="fa-solid fa-angle-down me-1"></i>T2204M
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav pb-1 ">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Inbox</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Drafts</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Deleted Items</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sent Items</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Outbox</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col">

      <p class="bg-white">content here</p>
      <p class="bg-white">content here</p>

  </div>
</main>
